<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<title>Anmelden</title>
</head>
<body>


	<div class="div_login">
		<a th:href="@{/}"><img width="25px" src="pictures/logo.png"
			alt="Home" /></a> AWE
	</div>

	<div class="div_title"></div>

	<div >
		<div th:if="${param.error}">Ungültiger Benutzername oder Passwort</div>
		<div th:if="${param.logout}">Du wurdest abgemeldet.</div>
		<form th:action="@{/login}" method="post">
			<div class="div_login_menue">
				<div>Benutzername :</div>
				<div>Passwort:</div>
			</div>
			<div class="div_login_menue">
				<div>
					<input type="text" name="username" />
				</div>
				<div>
					<input type="password" name="password" />
				</div>

			</div>
			<div class="div_login_button">
				<input type="submit" value="Anmelden" />
			</div>
		</form>
	</div>

	<div class="div_bottom">© Dominik Schönhofer</div>



</body>
</html>