<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link rel="stylesheet" type="text/css" href="css/style.css" />
<title th:text="${title}"></title>
</head>
<body>

	<div class="div_back">

		<div class="div_login" sec:authorize="!hasRole('ROLE_USER')">
			<a th:href="@{/}"><img width="25px" src="pictures/logo.png"
				alt="Home" /></a> Gain and loss of signal peptides - Tool
			<form class="form_login" th:action="@{/login}" method="post">
				<input type="submit" value="Sign In" />
			</form>
		</div>
		<div class="div_login" sec:authorize="hasRole('ROLE_USER')">
			<a th:href="@{/}"><img width="25px" src="pictures/logo.png"
				alt="Home" /></a> Gain and loss of signal peptides - Tool
			<form class="form_login" th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" />
			</form>
		</div>

		<div class="div_title"></div>


		<div class="div_menue">
			<a th:href="@{/}">
				<div class="div_sel">main page</div>
			</a><a th:href="@{/show_og}">
				<div class="div_sel">show OG</div>
			</a><a th:href="@{/tree}">
				<div class="div_sel">view tree</div>
			</a> <a th:href="@{/edit-options}">
				<div class="div_sel">dataset edit options</div>
			</a><a th:href="@{/help}">
				<div class="div_sel">help</div>
			</a>
		</div>


		<!--  Fragments are includes to default layout. Fragments can be found in fragments.html -->
		<div th:switch="${fragment}">
			<div th:case="tree">
				<div th:replace="fragments :: tree"></div>
			</div>
			<div th:case="info">
				<div th:replace="fragments :: info"></div>
			</div>
			<div th:case="edit">
				<div th:replace="fragments :: edit"></div>
			</div>
			<div th:case="show">
				<div th:replace="fragments :: show"></div>
			</div>			
		</div>



		<div class="div_bottom">© Dominik Schönhofer</div>
	</div>

</body>
</html>